/******************************************************************************
Created by: Paul Laros
Twitter: paullarosbot
******************************************************************************/

body {
    background: rgb(236, 240, 241);
    color: #4A4C54;
    transition: background linear .5s;
    -webkit-transition: background linear .5s;
}

/******************************************************************************
* Styles
******************************************************************************/

a {
    text-decoration: none;
}

a:hover, a:active, a:focus {
    outline: 0;
}

.btn {
    border: 1px solid #ADADAD;
    border-radius: 4px;
    color: #4A4C54;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.43;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:hover {
    color: #333;
}

#twitter {
    bottom: 0;
    right: 0;
    position: absolute;
}
#viewsource {
    bottom: 0;
    left: 0;
    position: absolute;
}
#main {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 408px;
    height: 116px;
    text-align: center;
    padding: 20px;
}
#main a {
    text-transform: uppercase;
}
.counter {
    font-size: 4.8em;
    line-height: 1em;
    height: 1em;
}
.divider {
    display: inline-block;
    float: left;
    line-height: 1em;
    height: 1em;
    overflow: hidden;
}

/* When start button is activated */
#start:target {
    background: #2C3E50;
    color: #fff;
}
#start:target .btn {
    color: #fff;
}
#start:target .btn:hover {
    color: #D6D6D6;
}


/******************************************************************************
* CSS Animations
******************************************************************************/
@keyframes unit { 0% { top: 0; } 100% { top: -60em; } }
@-webkit-keyframes unit { 0% { top: 0; } 100% { top: -60em; } }

.unit {
    display: inline-block;
    float: left;
    height: 1em;
    overflow: hidden;
}
.unit:after {
    content: "00\A 01\A 02\A 03\A 04\A 05\A 06\A 07\A 08\A 09\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A 51\A 52\A 53\A 54\A 55\A 56\A 57\A 58\A 59\A";
    position: relative;
    white-space: pre;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation: unit steps(60) infinite;
    -webkit-animation: unit steps(60) infinite;
}
#hours:after {
    animation-duration: 216000s;
    -webkit-animation-duration: 216000s;
}
#minutes:after {
    animation-duration: 3600s;
    -webkit-animation-duration: 3600s;
}
#seconds:after {
    animation-duration: 60s;
    -webkit-animation-duration: 60s;
}
#centiseconds:after {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

/* Start animation */
#start:target .unit:after {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}